<div class="container">
  <h2>Chat</h2>
  <form (ngSubmit)="onConversationSubmit()" #conversationForm="ngForm">
    <div class="form-group">
      <label for="chatFrom">Od koho</label>
      <select class="form-control" id="chatFrom" required [(ngModel)]="state.chatFrom" name="chatFrom">
        <option *ngFor="let user of npcs" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="chatTo">Komu</label>
      <select class="form-control" id="chatTo" required [(ngModel)]="state.chatTo" name="chatTo">
        <option *ngFor="let user of players" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!conversationForm.form.valid" class="btn btn-success">Načíst konverzaci</button>
  </form>
  <div *ngIf="conversationId">
    <h3 *ngIf="chatMessages.length > 0">Posledních 10 zpráv</h3>
    <ul class="list-group mb-2">
      <li *ngFor="let msg of chatMessages" class="list-group-item">
        <b>{{msg.author}}:</b> {{msg.text}} <a *ngIf="msg.attachmentUrl" [href]="msg.attachmentUrl"
          target="_blank">Příloha</a> <span class="text-muted" *ngIf="msg.createdAt" style="float: right;">
          {{msg.createdAt | date:'short'}}</span>
      </li>
    </ul>
    <h3>Nová zpráva</h3>
    <form (ngSubmit)="onMessageSubmit()" #messageForm="ngForm">
      <div class="form-group">
        <label for="chatText">Text</label>
        <textarea class="form-control" id="chatText" required [(ngModel)]="state.chatText" name="chatText"
          rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="chatAttachment">Příloha</label>
        <input type="file" class="form-control" id="chatAttachment" [(ngModel)]="state.chatAttachment"
          name="chatAttachment" />
      </div>
      <div class="form-group">
        <input type="checkbox" id="chatToAll" [(ngModel)]="state.chatToAll" />&nbsp;<label for="chatToAll">Poslat zprávu
          všem hráčům (typicky organizační info od Dive Admin)</label>
      </div>
      <button type="submit" [disabled]="!messageForm.form.valid" class="btn btn-success">Poslat</button>
    </form>
  </div>
  <h2>Nový feed post</h2>
  <form (ngSubmit)="onPostSubmit()" #slackForm="ngForm">
    <div class="form-group">
      <label for="feedFrom">Od koho</label>
      <select class="form-control" id="from" required [(ngModel)]="state.feedFrom" name="feedFrom">
        <option *ngFor="let user of npcs" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="feedPhoto">Fotka</label>
      <input type="file" class="form-control" id="feedPhoto" required [(ngModel)]="state.feedPhoto" accept="image/*" />
    </div>
    <div class="form-group">
      <label for="feedText">Text</label>
      <textarea class="form-control" id="feedText" required [(ngModel)]="state.feedText" name="feedText"
        rows="5"></textarea>
    </div>
    <div class="form-group">
      <input type="checkbox" id="feedNotification" [(ngModel)]="state.feedNotification" />&nbsp;<label
        for="feedNotification">Poslat také notifikaci všem hráčům</label>
    </div>
    <button type="submit" [disabled]="!slackForm.form.valid" class="btn btn-success">Poslat</button>
  </form>
  <h2>Reportování</h2>
  <form (ngSubmit)="onReportSubmit()" #reportForm="ngForm">
    <div class="form-group" style="width: 49%; display: inline-block;">
      <label for="reporter1">Práskač 1</label>
      <select class="form-control" id="reporter1" required [(ngModel)]="state.reporter1" name="reporter1">
        <option *ngFor="let user of players" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    &nbsp;
    <div class="form-group" style="width: 49%; display: inline-block;">
      <label for="reporter2">Práskač 2</label>
      <select class="form-control" id="reporter2" [(ngModel)]="state.reporter2" name="reporter2">
        <option *ngFor="let user of players" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="victim">Oběť</label>
      <select class="form-control" id="user" required [(ngModel)]="state.victim" name="victim">
        <option *ngFor="let user of players" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="penalty">O kolik potrestat oběť</label><br />
      <input type="number" [(ngModel)]="state.penalty" id="penalty" name="penalty" required />
    </div>
    <div class="form-group">
      <label for="reward">O kolik odměnit práskače</label><br />
      <input type="number" [(ngModel)]="state.reward" id="reward" name="reward" required />
    </div>
    <div class="form-group">
      <label for="reason">Důvod (napíše se do feedu za Dive Safety a pošle to všem hráčům notifikaci)</label><br />
      <input type="text" id="reason" name="reason" required [(ngModel)]="state.reportReason" style="width: 100%" />
    </div>
    <button type="submit" [disabled]="!reportForm.form.valid" class="btn btn-success">Prásk!</button><br /><br />
  </form>
  <h2>Změnit viditelnost</h2>
  <form #visibilityForm="ngForm">
    <div class="form-group">
      <label for="who">Komu</label>
      <select class="form-control" id="who" required [(ngModel)]="state.visibilityUser" name="who">
        <option *ngFor="let user of npcs" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <button [disabled]="!visibilityForm.form.valid" class="btn btn-success"
      (click)="onMakeVisible()">Zviditelnit</button>&nbsp;
    <button [disabled]="!visibilityForm.form.valid" class="btn btn-success" (click)="onMakeInvisible()">Zmizet</button>
    <br /><br />
  </form>
  <h2>Změnit hodnocení</h2>
  <form (ngSubmit)="onRatingSubmit()" #ratingForm="ngForm">
    <div class="form-group">
      <label for="who">Komu</label>
      <select class="form-control" id="who" required [(ngModel)]="state.ratingUser" name="who">
        <option *ngFor="let user of players" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ratingChange">O kolik změnit (kladné hodnoty zvýšení, záporné snížení)</label><br />
      <input type="number" [(ngModel)]="state.ratingChange" id="ratingChange" name="ratingChange" required />
    </div>
    <div class="form-group">
      <label for="reason">Důvod (napíše se do feedu za SuperBlesk a pošle to všem hráčům notifikaci)</label><br />
      <input type="text" id="reason" name="reason" required [(ngModel)]="state.ratingReason" style="width: 100%" />
    </div>
    <button type="submit" [disabled]="!ratingForm.form.valid" class="btn btn-success">Změnit
      hodnocení</button><br /><br />
  </form>
  <h2>Resetovat běh</h2>
  <form (ngSubmit)="onResetRunSubmit()" #newRunForm="ngForm">
    <button type="submit" class="btn">Resetovat aktuální běh</button><br /><br />
  </form>
  <h2>Nový běh</h2>
  <form (ngSubmit)="onNewRunSubmit()" #newRunForm="ngForm">
    <div class="form-group">
      <label for="newRunId">Číslo běhu</label><br />
      <input type="number" id="newRunId" name="newRunId" required [(ngModel)]="state.newRunId" />
    </div>
    <div class="form-group">
      <label for="newRunName">Název běhu</label><br />
      <input type="text" id="newRunName" name="newRunName" required [(ngModel)]="state.newRunName" />
    </div>
    <div class="form-group">
      <label for="newRunBasedOn">Zkopírovat uživatele z běhu:</label>
      <select class="form-control" id="newRunBasedOn" required [(ngModel)]="state.newRunBasedOn" name="newRunBasedOn">
        <option *ngFor="let run of runs" [ngValue]="run">{{run.name}}</option>
      </select>
    </div>
    <button type="submit" [disabled]="!newRunForm.form.valid" class="btn">Vytvořit nový běh</button><br /><br />
  </form>
</div>