<div class="container">
  <h2>Nová CP zpráva</h2>
  <form (ngSubmit)="onMessageSubmit()" #slackForm="ngForm">
    <div class="form-group">
      <label for="user">Uživatel</label>
      <select class="form-control" id="user" required [(ngModel)]="state.user" name="user">
        <option *ngFor="let user of npcs" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="channel">Kanál</label>
      <select class="form-control" id="channel" required [(ngModel)]="state.channel" name="channel">
        <option *ngFor="let channel of channels | async" [ngValue]="channel">#{{channel.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <textarea class="form-control" id="text" required [(ngModel)]="state.text" name="text"  rows="5"></textarea>
    </div>
    <button type="submit" [disabled]="!slackForm.form.valid" class="btn btn-success">Poslat</button>
  </form>
  <h2>Reportování</h2>
  <form (ngSubmit)="onReportSubmit()" #reportForm="ngForm">
    <div class="form-group" style="width: 49%; display: inline-block;">
      <label for="reporter1">Práskač 1</label>
      <select class="form-control" id="reporter1" required [(ngModel)]="state.reporter1" name="reporter1">
        <option *ngFor="let user of players" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    &nbsp;
    <div class="form-group" style="width: 49%; display: inline-block;">
      <label for="reporter2">Práskač 2</label>
      <select class="form-control" id="reporter2" [(ngModel)]="state.reporter2" name="reporter2">
        <option *ngFor="let user of players" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="victim">Oběť</label>
      <select class="form-control" id="user" required [(ngModel)]="state.victim" name="victim">
        <option *ngFor="let user of players" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="penalty">O kolik potrestat oběť</label><br />
      <input type="number" [(ngModel)]="state.penalty" id="penalty" name="penalty" required/>
    </div>
    <div class="form-group">
      <label for="reward">O kolik odměnit práskače</label><br />
      <input type="number" [(ngModel)]="state.reward" id="reward" name="reward" required/>
    </div>
    <div class="form-group">
      <label for="reason">Důvod</label><br />
      <input type="text" id="reason" name="reason" required [(ngModel)]="state.reportReason" style="width: 100%"/>
    </div>
    <button type="submit" [disabled]="!reportForm.form.valid" class="btn btn-success">Prásk!</button><br /><br />
  </form>
  <h2>Změnit viditelnost</h2>
  <form #visibilityForm="ngForm">
    <div class="form-group">
      <label for="who">Komu</label>
      <select class="form-control" id="who" required [(ngModel)]="state.visibilityUser" name="who">
        <option *ngFor="let user of npcs" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <button [disabled]="!visibilityForm.form.valid" class="btn btn-success" (click)="onMakeVisible()">Zviditelnit</button>&nbsp;
    <button [disabled]="!visibilityForm.form.valid" class="btn btn-success" (click)="onMakeInvisible()">Zmizet</button>
    <br /><br />
  </form>
  <h2>Změnit hodnocení</h2>
  <form (ngSubmit)="onRatingSubmit()" #ratingForm="ngForm">
    <div class="form-group">
      <label for="who">Komu</label>
      <select class="form-control" id="who" required [(ngModel)]="state.ratingUser" name="who">
        <option *ngFor="let user of players" [ngValue]="user">{{user.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ratingChange">O kolik změnit (kladné hodnoty zvýšení, záporné snížení)</label><br />
      <input type="number" [(ngModel)]="state.ratingChange" id="ratingChange" name="ratingChange" required/>
    </div>
    <div class="form-group">
      <label for="reason">Důvod</label><br />
      <input type="text" id="reason" name="reason" required [(ngModel)]="state.ratingReason" style="width: 100%"/>
    </div>
    <button type="submit" [disabled]="!ratingForm.form.valid" class="btn btn-success">Změnit hodnocení</button><br /><br />
  </form>
  <h2>Reset</h2>
  <form (ngSubmit)="onResetSubmit()" #resetForm="ngForm">
    <div class="form-group">
      <label for="sbt">Slack bot token</label><br />
      <input type="text" id="sbt" name="sbt" required [(ngModel)]="state.slackBotToken" style="width: 100%"/>
    </div>
    <div class="form-group">
      <label for="fchid">#feed channel id</label><br />
      <input type="text" id="fchid" name="fchid" required [(ngModel)]="state.feedChannelId" style="width: 100%"/>
    </div>
    <button type="submit" [disabled]="!resetForm.form.valid" class="btn btn-success">Resetovat vše mezi běhy</button><br /><br />
  </form>
</div>